@import "tailwindcss";
@source "app.html";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@variant hover (&:hover);
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@view-transition {
	navigation: auto;
}

@theme {
	--color-divide-light: #dbdbd9;
	--color-divide-dark: #3e3e3c;
	--color-neutral-250: #dddddd;
	--color-nav-light: #e7e7e5;
	--color-nav-dark: #292927;
	--color-nav-link-light: #cececc;
	--color-nav-link-dark: #41413f;
	--color-body-light: #ffffff;
	--color-body-dark: #1e1e1e;
	--animate-fly: fly 100ms ease-out;
	@keyframes fly {
		from: {
			opacity: 0;
			transform: translateY(-1rem);
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply box-border border-gray-200;
	}
	button,
	a {
		@apply cursor-pointer;
	}
	details > summary {
		@apply cursor-pointer list-none select-none;
	}
	details > summary::-webkit-details-marker {
		@apply hidden;
	}

	#nav:popover-open {
		@apply flex flex-col;
		@starting-style {
			@apply translate-y-full;
		}
	}

	:root:has(:popover-open) main {
		@apply scale-95 transition-transform duration-400;
	}

	@media (prefers-reduced-motion) {
		html {
			@apply !animate-none !scroll-auto !transition-none;
		}
		html *,
		html *:before,
		html *:after {
			@apply !animate-[inherit] !transition-[inherit];
		}
	}
}

@utility nav-button {
	& {
		@apply hover:bg-nav-link-dark/80 flex cursor-pointer items-center justify-center rounded-full bg-transparent p-3 duration-100;
	}
}

@utility visible-dark {
	& {
		@apply !invisible !hidden dark:!visible dark:!block;
	}
}

@utility visible-light {
	& {
		@apply !visible !block dark:!invisible dark:!hidden;
	}
}

@utility indicator-part {
	& {
		@apply after:border-divide-light dark:after:border-divide-dark absolute bottom-px aspect-square w-[24px] before:bg-(--bg-light) dark:before:bg-(--bg-dark);
	}
	&::before {
		@apply absolute -inset-px transition-colors duration-150 content-[''];
		mask: radial-gradient(circle at center, #0000 12px, #000 12px);
		clip-path: inset(50% 50% 0 0);
	}
	&::after {
		@apply absolute inset-0 rounded-[50%] border content-[''];
		clip-path: inset(50% 50% 0 0);
	}
}

@utility text-shadow-lg {
	& {
		text-shadow: 0 1px 20px rgb(0, 0, 0);
	}
}

@utility text-shadow-md {
	& {
		text-shadow: 0 1px 15px rgb(0, 0, 0);
	}
}